.input {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 2em 0;
}

.input div {
    position: relative;
}

.input div .icon {
    position: absolute;
    fill: #3773E5;
    top: 30%;
    left: 5%;
}

.input div input {
    background-color: transparent;
    outline: none;
    border-color: #3773E5;
    border-radius: 2em;
    font-family: 'Lexend-bold', sans-serif;
    color: #FFF;
    padding: 0.8em 0 0.8em 4em;
    width: 400px;
}

/* .input input:focus {
    outline: none;
} */